	html,body {
		color: #000;
		font-family: Arial, Helvetica, sans-serif; 
		background-color: #c9c9c9;
	}
	
	header {
		width: 712px; 
		height: auto;
		margin-top: -5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		padding: 5px;
		border: 1px solid transparent;
		background-color: #fff;
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-size: 23px; 
		font-style: italic;
		text-decoration: underline; 
		text-align: center;
		text-shadow: 1px 2px 1px #f00; 
		text-transform: uppercase;
	}
	
	section {
		clear: both; 
		width: 712px; 
		height: auto;
		margin: 0px auto; 
		padding: 5px;
		border: 1px solid transparent;
		background-color: #fff;
	}
	
	footer {
		clear: both;
		width: 712px;
		height: auto;
		margin: 0px auto;
		padding: 5px;
		border: 1px solid transparent;
		background-color: #fff;
	}
	
	img {
		width: 220px;
		height: 190px;
		position: relative;
		top: 0px;
		left: 250px;
	}
	
	form {
		width: 512px; 
		height: auto;
		margin: 10px auto; 
		padding: 15px;
		background-color: #f00;
		border: 1px solid transparent;
		border-radius: 1em;
		-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
	}
	
	p {
		font-weight: bolder;
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		margin-top: -5px;
	}
	
	span {
		color: #f00;
		text-decoration: underline;
	}
	
	input[type="text"] {
		display: block;
		width: 200px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
	}
	
	input[type="password"] {		
		display: block;
		width: 200px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
	}
	
	input[type="submit"] {
		display: block;
		width: 100px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
		font-weight: bolder;
	}
	
	input[type="submit"]:hover {
		background-color: #000;
		color: #f00;
		border-color: #f00;
	}
	
	table {
		width: 512px;
		height: auto;
		margin: 5px auto;
		padding: 5px;
	}
	
	table tr {
		text-align: center;
	}
	
	table td {
		font-weight: bolder;
		font-size: 15px;
		font-style: italic;
		color: #000;
		text-shadow: 1px 2px 1px #f00;
	}
	
	#error {
		color: #f00;
		font-weight: bolder;
		text-align: center;
		font-size: 15px;
		text-decoration: underline;
		text-transform: uppercase;
		margin-top: -5px;
	}
	
	#aviso {
		font-weight: bolder;
		text-align: center;
		font-size: 15px;
		margin-top: 10px;
		text-transform: uppercase;
	}
	
	.form {
		font-weight: bolder;
		text-align: center;
		position: relative;
		top: 10px;
		left: 0px;
	}